<header>
    <nav>
        <a href="http://twitter.com/_niss">_niss</a>
    </nav>
</header>

<section id="canvas">
    <article id="logo-content">
        <div id="tedx-logo">
            #TED<sup id="x-message">x</sup><span id="location">Alger</span>
        </div>
        <div id="live-tweet">
          Socket.IO aims to make realtime apps possible in every browser and mobile device, blurring the differences between the different transport
        </div>
    </article>
</section>